//   @media (min-width: 768px) {
//       flex-direction: row;
//       text-align: left;
//     }

    .profile-image {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    }